/* media queries */
@media screen and (min-width: 480px){
	.i-am-container{
		bottom: 36%;
	}
	.nav-link > a {
		font-size: 60px;
	}
	.nav-title > h5 {
		font-size: 72px;	
	}
	#about-me > .row {
		flex-direction: column;
	}

	#about-me > .row > div{
		font-size: 36px;
		text-align: center;
		padding: 0px;
		margin-top: 10px;
	}
	#about-me > .row > div > h2{
		font-size: 45px;
	}
}

#projects {
	min-height: 100vh;
}

#projects:nth-child(2) {
	height: 90%;
	flex-direction: column;
}
.mob-row {
	height: 90%;
	flex-direction: column;
	overflow: auto;
}
.projects-col {
    	display:  flex;
    	justify-content: space-between;
	flex-direction: column;
}

#my-modal {
	align-items: center;
}

.modal-content {
	height: 50%;
	border-radius: 30px;
}

#modal-title {
	font-size: 62px;
}
#modal-description {
	font-size: 41px;
}


.figure {
	width: 600px;
	height: 300px;
	margin: 65px;
}

.figure-caption {
	font-size: 60px;
}

.figure > img {
    max-height: unset;
}

.projects-title {
	font-size: 4rem;
}

#I-am-text {
	font-size: 6rem;
}

.close{
	font-size: 72px;
	color: black;
}
